{% extends 'base.html' %} 
{% block content %}
<div class="container">  <!-- mejora el espaciado de la pagina-->
    <form action=""> <!-- especifica que al hacer clic en enviar, enviamos el formulario a la misma página-->
        <div class="mb-3"> <!--agrega espacio inferior de 3 unidades-->
            <label for="recommendMovie" class="form-label"> <!--asocia un texto descriptivo con un campo de entrada en un formulario-->
                Recommend for Movie:
            </label>
            <input type="text" class="form-control" name="recommendMovie"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Recommending for: {{recommendTerm}}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- define una fila en una cuadrícula con una columna en pantallas extra pequeñas y tres columnas en pantallas grandes-->
        {% for movie in recommendMovie %}
        <div v-for="movie in recommendMovie" class="col">
            <div class="card">
            <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ movie.title}}</h5>
                <p class="card-text">{{ movie.description}}</p>
                <p class="card-text">{{ movie.genre}}</p>
                <p class="card-text">{{ movie.year}}</p>
                {% if movie.url %}
                     <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
                {% endif %}
            </div>
        </div>
    </div> 
        {% endfor %}  
</div> 
{% endblock content %}